<?xml version="1.0" encoding="UTF-8"?>
<web-app>
....
<context-param> 
    <description>Location to store uploaded file</description> 
    <param-name>file-upload</param-name> 
    <param-value>
         /home/pp/workspace/pradeep/FileUpload/image
     </param-value> 
</context-param>
....
</web-app>